
on boot

    # Set GPS serial GPS power-on GPIO64 pin and reset GPIO60 pin
    setprop ro.kernel.android.gps /dev/ttymxc1
    setprop um220.gps.hookspath /system/etc/gps
#    symlink /dev/ttymxc1 /dev/gpsdevice
    write /sys/class/gpio/export 64
    write /sys/class/gpio/gpio64/direction "out"
    chown gps gps /sys/class/gpio/gpio64/value
    chmod 0660 /sys/class/gpio/gpio64/value
    write /sys/class/gpio/gpio64/value 1

    write /sys/class/gpio/export 60
    write /sys/class/gpio/gpio60/direction "out"
    chown gps gps /sys/class/gpio/gpio60/value
    chmod 0660 /sys/class/gpio/gpio60/value
    write /sys/class/gpio/gpio60/value 1

