#/******************************************************************************
# *
# * Copyright (C) u-blox AG
# * u-blox AG, Thalwil, Switzerland
# *
# * All rights reserved.
# *
# * Permission to use, copy, modify, and distribute this software for any
# * purpose without fee is hereby granted, provided that this entire notice is
# * included in all copies of any software which is or includes a copy or
# * modification of this software and in all copies of the supporting
# * documentation for such software.
# *
# * THIS SOFTWARE IS BEING PROVIDED "AS IS", WITHOUT ANY EXPRESS OR IMPLIED
# * WARRANTY. IN PARTICULAR, NEITHER THE AUTHOR NOR U-BLOX MAKES ANY
# * REPRESENTATION OR WARRANTY OF ANY KIND CONCERNING THE MERCHANTABILITY OF
# * THIS SOFTWARE OR ITS FITNESS FOR ANY PARTICULAR PURPOSE.
# *
# ******************************************************************************
# *
# * Project: Android GNSS Driver
# *
# *****************************************************************************/

service ubx-gnss /vendor/bin/hw/android.hardware.gnss@1.0-service-ubx
    setenv LD_LIBRARY_PATH /vendor/lib64/hw
    class hal
    user root
    group root
    seclabel u:r:hal_gnss_ubx:s0
